[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[push]
	autoSetupRemote = true
[branch]
	autoSetupMerge = simple
[user]
	name = Bryceson Laing
[commit]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[color]
	ui = true
[alias]
	co = checkout
	unadd = restore
	c = commit -m
	ca = commit --amend --no-edit
	uncommit = reset HEAD~1
	uc = uncommit
	b = branch
	brn = branch -m
	s = status
[fetch]
	prune = true
